img {
  max-height: 100%;
  max-width: 100%;
}

.btn-mapper {
  background-color: #11a53f9e;
  border-color: #11a53f9e;
  color: white;
}

.btn-explore {
  background-color: white;
  border-color: #11a53f9e;
}

/* @import "../assets/fonts.css";

.font-body {
  font-family: "Palatino", cursive;
}

.header-body h1 {
  font-size: 1.6rem;
  padding: 0rem;
  margin: 0rem;
}
.header-body {
  display: inline-block;
  font-size: 8vh;
  max-height: 100%;
  padding-top: 2vh;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: middle;
  font-weight: 200;
}

.header-body p {
  font-size: 1.4rem;
}

.header hr {
  margin: 0rem;
  padding: 0rem;
}

.footer {
  height: 3vh;
  background-color: #20232a;
  color: #fff;
}

.main-content {
  height: 90vh;
}

.header {
  height: 7vh;
  display: inline-block;
  background-color: #20232a;
  color: #fff;
}

img {
  max-height: 100%;
  max-width: 100%;
}
.row {
  max-height: 100%;
  max-width: 100%;
} */
