/* @import "../assets/font-awesome.css"; */

img {
  max-height: 100%;
  max-width: 100%;
}

.btn-mapper {
  background-color: white;
  border-color: #11a53f9e;
}

.btn-explore {
  background-color: #11a53f9e;
  border-color: #11a53f9e;
  color: white;
}

.zero-padding {
  padding: 0px;
}
.zero-margin {
  margin: 0px;
}
.top-padding-half {
  padding-top: 0.5em;
}

.left-padding-half {
  padding-left: 0.5em;
}

.right-padding-half {
  padding-left: 0.5em;
}

.white-background {
  background-color: white;
}
.solid-margin-1em {
  margin: 1em solid;
}

.theme-green-background {
  background-color: #0e9539;
}

.theme-green-background-light {
  background: #d6e0db;
}
.list-items {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.selectable-table-div:hover {
  background-color: #11a53f5c;
  cursor: pointer;
}

[draggable="true"] {
  cursor: move;
}

.strokeme {
  text-shadow: -1px -1px 0 #128e3a, 1px -1px 0 #128e3a, -1px 1px 0 #128e3a,
    1px 1px 0 #128e3a;
}

.margin-right-neg-15 {
  margin-right: -15px !important;
}

.circle {
  background-color: #128e3a;
  border: 0.5em solid #128e3a;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.arrow-right:after {
  content: "";
  display: inline-block !important;
  width: 0;
  height: 0;
  border-left: 0.25em solid #128e3a;
  border-top: 0.25em solid transparent;
  border-bottom: 0.25em solid transparent;
  vertical-align: middle;
}

.arrow-right:before {
  width: 20px;
  height: 2px;
  background: #128e3a;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.tooltip-on-icon {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #128e3ab3;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  height: 2em;
  width: max-content;
  background-color: #128e3ab3;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.3em;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-on-icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}
