@import "../assets/fonts.css";

.wrapper {
  position: fixed;
  width: 100%;
}

.header {
  height: 6vh;
  background: #133524;
  z-index: 1002;
  top: 0;
  color: black;
}

.header hr {
  background-color: white;
  border: 1px solid white;
  margin: 0px;
  padding: 0px;
}

.footer {
  height: 3vh;
}

.logo {
  color: #128e3a;
  margin-top: -3vh;
  font-weight: bold;
}

.logo-color {
  color: #0e9539; /*0e9539*/
}

.font-body {
  font-family: "Optima";
}

.header-body {
  padding-top: 0.5vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  vertical-align: middle;
  font-weight: 200;
  font-size: 1.8rem;
}

.mainbody {
  height: 94vh;
  /* margin-top: 7vh; */
  border-top: 1px solid #11a53f9e;
  border-bottom: 1px solid #11a53ff5;
}

.left-panel {
  height: 94vh;
  /* background: #d6e0db; */
  /*54826bb3;*/
  color: black;
  padding: 0px;
  /* padding-top: 1em; */

  /* 11a53f5c; */
}
.right-panel {
  height: 94vh;
  /* border: 2px solid black; */
}
.middle-panel {
  height: 94vh;
  border-left: 1px solid #11a53f5c;
  border-right: 1px solid #11a53f5c;
}

.table-space {
  padding-left: 1em;
}

.table-space-headers {
  padding-left: 1.5em;
  padding-top: 0.5em;
  color: #128e3a;
}

.margin-right-neg-15 {
  margin-right: -15px !important;
}

/* a.logo span {
  color: #1ea896;
  border: 283d3b;
} */

/* a.logo {
  font-family: Ruda, sans-serif;
  font-size: 3vh;
  color: #ff715b;
  float: left;
  margin-bottom: 0vh;
}

a.logo b {
  font-weight: 900;
} */

/* a.logo:hover,
a.logo:focus {
  text-decoration: none;
  outline: none;
}

.landing-page {
  background: #ffffff;
  /* height: 92vh;} */

/* .top-content {
  height: 40vh;
  margin-left: 15px;
}

.top-content-large {
  height: 90vh;
  margin-left: 15px;
} */

/* .bottom-content {
  height: 50vh;
  width: 100%;
  border: 0px;
}

.bottom-content-hidden {
  height: 0vh;
}

.page-panel {
  margin-left: -1em;
  margin-right: -1em;
}

.iframe-cls {
  height: 100%;
  width: 100%;
  border: 0px;
  overflow: hidden;
  padding-left: 3em;
  padding-right: 3em;
}

.wiki-page {
  height: 50vh;
  width: 100%;
  border: 0px;
}

.wiki-page-hidden {
  height: 0vh;
  visibility: hidden;
}

.toggle-button {
  background-color: #ff715b;
  color: white;
  position: fixed;
  right: 1em;
  border: 0px;
}

.toggle-button:hover {
  background-color: #1ea896;
}

.table-panel {
  height: inherit;
  overflow: auto;
}

.action-scrollable {
  overflow-y: auto;
  overflow-x: auto;
  height: 85%;
  width: 100%;
}

.action-panel {
  height: inherit;
  border-left: 1px solid lightgrey;
}

.wrangling-actions {
  height: 30vh;
}

.table-list {
  height: 25vh;
}

.height-inherit {
  height: 100%;
}

.height-100 {
  height: 100%;
}

.react-tabs {
  height: 100%;
}

.padding-top-5vh {
  padding-top: 7vh;
} */
