@import "../assets/fonts.css";

.wrapper {
  position: fixed;
  width: 100%;
}

.header {
  height: 5vh;
  background: #133524;
  z-index: 1002;
  top: 0;
  color: black;
}

.LandingPage {
  height: 100vh;
  background: #133524;
  z-index: 1002;
  top: 0;
  color: black;
}

.header hr {
  background-color: white;
  border: 1px solid white;
  margin: 0px;
  padding: 0px;
}

.footer {
  height: 3vh;
}

.logo {
  color: #128e3a;
  margin-top: -3vh;
  font-weight: bold;
}

.logo-color {
  color: #0e9539; /*0e9539*/
}

.font-body {
  font-family: "Optima";
}

.header-body {
  padding-top: 0.5vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  vertical-align: middle;
  font-weight: 200;
  font-size: 1.8rem;
}

.mainbody {
  height: 95vh;
  margin-top: 0.25em;
  /* margin-top: 7vh; */
  /* border-top: 1px solid #11a53f9e;
  border-bottom: 1px solid #11a53ff5; */
}

.left-panel {
  height: 94vh;
  /* background: #d6e0db; */
  /*54826bb3;*/
  color: black;
  padding: 0px;
  /* padding-top: 1em; */

  /* 11a53f5c; */
}
.right-panel {
  height: 94vh;
  /* border: 2px solid black; */
}
.middle-panel {
  height: 94vh;
  border-left: 1px solid #11a53f5c;
  border-right: 1px solid #11a53f5c;
}

.table-space {
  padding-left: 1em;
}

.table-space-headers {
  padding-left: 1.5em;
  padding-top: 0.5em;
  color: #128e3a;
}
.logo-green-strokeme {
  color: white;
  /* text-shadow: -1px -1px 0 #128e3a, 1px -1px 0 #128e3a, -1px 1px 0 #128e3a,1px 1px 0 #128e3a; */
}

.logo-white-strokeme {
  color: #128e3a;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.mapping-drop-panel {
  height: 75vh;
  border: 1px solid #11a53f5c;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.query-result {
  height: 60vh;
  overflow-y: auto;
  padding: 0.5em;
}
